.App {
  text-align: center;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid rgb(7, 8, 8);
  padding: 30px;
  border-radius: 5px;
}
.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
}

.task.positive {
  border-left: 5px solid green;
}
.task.negative {
  border-left: 5px solid red;
}
